:root {
  --header-font: "Poppins";
}

/* Accessibility contrast font color change by imran */

.ac-font-color {
  color: hsl(234, 100%, 53%) !important;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h3,
h2,
h1 {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-top: 15px;
  top: 0;
  position: sticky;
  background-color: white;
  padding-bottom: 15px;
}

header h3 a {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #344563;
  margin-left: 24px;
  animation-name: logo_load;
  animation-duration: 8s;
  animation-delay: 1s;
}

@keyframes logo_load {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.Tonic:hover {
  transform: scale(1.1);
}

.menu-icon {
  color: #344563;
  font-size: 18px;
  margin-right: 24px;
}

.menu-items {
  display: none;
  animation-name: menu_load;
  animation-duration: 8s;
  animation-delay: 2s;
}

@keyframes menu_load {
  0% {
    transform: translate(200px);
  }
}

.introduction {
  background-image: url(./portfolio/Background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom 95% right;
}

.Ritika {
  padding: 100px 24px 0 24px;
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  width: 65%;
  animation-name: main_heading;
  animation-duration: 8s;
  animation-delay: 1s;
}

@keyframes main_heading {
  0% {
    color: blue;
  }

  25% {
    color: yellow;
  }

  50% {
    color: red;
  }

  75% {
    color: green;
  }

  100% {
    color: blue;
  }
}

.description {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding: 0 24px 0 24px;
  margin-top: 12px;
}

.connector {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-top: 12px;
  padding-left: 24px;
}

.icons-section {
  display: flex;
  padding-left: 24px;
  width: 50%;
  gap: 20px;
  padding-bottom: 106.04px;
}

.icons-section li a {
  text-decoration: none;
  color: #505f79;
}

#socials {
  padding-bottom: 12px;
}

.container-2 {
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
  padding: 100px 0;
  gap: 88px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: #fff;
  width: 80%;
  padding: 16px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.used-lang {
  display: flex;
  width: fit-content;
  gap: 12px;
  padding: 0;
}

.used-lang li {
  background: #ebebff;
  border-radius: 8px;
  padding: 8px 12px;
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

/* changed the font color in minihead li */

.minihead li {
  padding-right: 10px;
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: hsl(209, 14%, 32%);
}

.languages li {
  display: flex;
  padding: 9px;
  background: #f7f7f9;
  gap: 16px;
  align-items: center;
  margin-right: 36px;
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}

.used-lang li:last-child {
  margin-right: 0;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cardheading {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.minihead {
  display: flex;
  width: fit-content;
  padding: 0;
  margin: 0;
}

.minihead .logo {
  color: #344563;
}

.minihead li:last-child {
  padding-right: 0;
}

.section_content p {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.button {
  padding: 12px;
  width: fit-content;
  border-radius: 8px;
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  border: 1px solid #6070ff;
  margin-bottom: 8px;
  background-color: #fff;
}

.btn {
  margin-left: 24px;
}

.button:focus {
  background: #0f1ec5;
  color: #fff;
}

.about_section_description {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding: 0 24px 0 24px;
  margin-top: 12px;
}

.connectors {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 12px;
  padding-left: 24px;
}

.icons_section_about {
  display: flex;
  padding-left: 24px;
  width: 50%;
  gap: 20px;
  padding-bottom: 106.04px;
}

.icons_section_about li a {
  text-decoration: none;
  color: #505f79;
}

.about_section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.about_section_top {
  padding-top: 100px;
}

.language {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-bottom: 36px;
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

hr {
  margin-right: 24px;
}

.languages {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact_me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 103px;
  background-color: #6070ff;
  color: #fff;
  margin-top: 73px;
  border-top-left-radius: 65px;
  background-image: url("./desktop/contact\ form\ shapes-mobile.svg");
  background-repeat: no-repeat;
  background-position: top 65% right;
}

.contact_me h2 {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.form_paragraph {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  width: 90%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 47px;
  gap: 20px;
}

.form_input {
  background: #fff;
  border: none;
  border-radius: 8px;
  width: 80%;
  padding: 15px 16px;
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #0d0d0e;
  text-decoration: none;
}

.textarea {
  color: #0d0d0e;
}

.form_button {
  align-self: flex-start;
  border: 1px solid #fff;
  margin-bottom: 0;
}

.form_button:hover {
  background-color: #0918c0;
  color: #fff;
  border: 1px solid #fff;
}

.form_button:focus {
  background: #0b114d;
  color: #fff;
}

.line {
  width: 33.33%;
  height: 5px;
  background: #0d151e;
  border-radius: 10px;
  margin: 32px auto 8px auto;
}

.submitbutton {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 86%;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  :root {
    --header-font: "Poppins";
  }

  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  li {
    list-style: none;
  }

  p {
    margin: 0;
    padding: 0;
  }

  img {
    max-width: 100%;
  }

  .all-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  header h3 a {
    font-family: var(--header-font);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #6070ff;
    margin: 25px 0 0 100px;
    animation-name: anime;
    animation-duration: 3s;
  }

  @keyframes anime {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .menu-icon {
    display: none;
  }

  .menu-items {
    display: flex;
    gap: 30px;
    margin: 25px 100px 0 0;
  }

  .menu-items a {
    text-decoration: none;
    color: #6070ff;
    font-family: var(--header-font);
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .headline {
    height: 100vh;
  }

  .introduction {
    background-image: url(./desktop/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    height: 100vh;
  }

  .description {
    font-family: var(--header-font);
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    color: #344563;
    margin-top: 12px;
    width: 50%;
    display: flex;
    text-align: start;
    justify-content: flex-start;
  }

  .Ritika {
    font-family: var(--header-font);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    justify-content: flex-start;
    text-align: start;
    letter-spacing: 0.37px;
    color: #091e42;
    width: 50%;
    margin-top: -100px;
    padding-left: 24px;
    animation-name: main_head;
    animation-duration: 8s;
    animation-delay: 1s;
  }

  @keyframes main_head {
    0% {
      color: blue;
    }

    25% {
      color: yellow;
    }

    50% {
      color: red;
    }

    75% {
      color: green;
    }

    100% {
      color: blue;
    }
  }

  .connector {
    font-family: var(--header-font);
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 24px;
    color: #7f8cff;
    margin-top: 12px;
    width: 51.5%;
    display: flex;
    justify-content: flex-start;
  }

  .icons-section {
    width: 51.5%;
    gap: 20px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 260px;
    font-size: 25px;
  }

  .icons-section li a {
    text-decoration: none;
    color: #505f79;
  }

  #social {
    padding-bottom: 12px;
  }

  .container-2 {
    background: #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 80px 0;
    gap: 88px;
  }

  .card {
    display: flex;
    flex-direction: row;
    gap: 24px;
    background: #fff;
    width: 80%;
    padding: 16px;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
  }

  .card-twos {
    order: 1;
  }

  .img {
    width: 50%;
  }

  .img:hover {
    cursor: default;
    border: 1px solid gray;
    box-shadow: 1px 2px 15px gray;
    width: 60%;
  }

  .used-lang {
    display: flex;
    width: fit-content;
    gap: 12px;
    padding: 0;
  }

  /* Changed font color in used-lang li */

  .used-lang li {
    background: #ebebff;
    border-radius: 8px;
    padding: 8px 12px;
    font-family: var(--header-font);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: hsl(234, 100%, 53%);
  }

  .minihead li {
    padding-right: 10px;
    font-family: var(--header-font);
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: hsl(209, 14%, 32%);
  }

  .languages li {
    display: flex;
    flex-direction: column;
    padding: 9px;
    background: #f7f7f9;
    gap: 16px;
    align-items: center;
    font-family: var(--header-font);
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #253858;
    width: 15%;
  }

  .used-lang li:last-child {
    margin-right: 0;
  }

  .section_content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 60%;
  }

  .cardheading {
    font-family: var(--header-font);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  .minihead {
    display: flex;
    width: fit-content;
    padding: 0;
    margin: 0;
  }

  .minihead .logo {
    color: #344563;
  }

  .minihead li:last-child {
    padding-right: 0;
  }

  .section_content p {
    font-family: var(--header-font);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
    width: 75%;
  }

  .button {
    padding: 12px;
    width: fit-content;
    border-radius: 8px;
    font-family: var(--header-font);
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #396df2;
    border: 1px solid #6070ff;
    margin-bottom: 8px;
  }

  .btn {
    margin-left: 24px;
  }

  .button:hover {
    background-color: #0918c0;
    color: #fff;
    border: 1px solid #0918c0;
  }

  .button:focus {
    background: #0b114d;
    color: #fff;
  }

  .about_section {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
    border-top-right-radius: 75px;
  }

  .about_section_top {
    padding-top: 100px;
    width: 40%;
    display: flex;
    flex-direction: column;
  }

  .about_section_description {
    font-family: var(--header-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    padding: 0 24px 0 24px;
    margin-top: 12px;
  }

  .connectors {
    font-family: var(--header-font);
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 24px;
    color: #7f8cff;
    margin-top: 12px;
    width: 51.5%;
    display: flex;
    justify-content: flex-start;
  }

  .icons_section_about {
    display: flex;
    padding-left: 24px;
    width: 50%;
    gap: 20px;
    padding-bottom: 106.04px;
  }

  .icons_section_about li a {
    text-decoration: none;
    color: #505f79;
  }

  .about_section_lists {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
  }

  .language {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-bottom: 36px;
    font-family: var(--header-font);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
  }

  hr {
    margin-right: 24px;
  }

  .languages {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding-left: 24px;
    margin-bottom: 36px;
  }

  /* Changed the background color in contact_me class */

  .contact_me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 210px;
    background-color: hsl(234, 100%, 54%);
    color: #fff;
    margin-top: 72px;
    border-top-left-radius: 75px;
    background-image: url(./desktop/contact_background.svg);
    background-repeat: no-repeat;
    background-position: top 65% right;
  }

  .contact_me h2 {
    font-family: var(--header-font);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .form_paragraph {
    font-family: var(--header-font);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    width: 30%;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 47px;
    gap: 20px;
  }

  .form_input {
    background: #fff;
    border: none;
    border-radius: 8px;
    width: 30%;
    padding: 15px 16px;
    font-family: var(--header-font);
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #0d0d0e;
    text-decoration: none;
  }

  .textarea {
    color: #0d0d0e;
  }

  .form_button {
    align-self: center;
    border: 1px solid #fff;
    margin-bottom: 40px;
    margin-left: 0;
    order: 1;
  }

  .form_button:hover {
    background-color: #0918c0;
    color: #fff;
    border: 1px solid #fff;
  }

  .form_button:focus {
    background: #0b114d;
    color: #fff;
  }

  .line {
    display: none;
  }

  .submitbutton {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 86%;
    justify-content: center;
    align-items: center;
    gap: 4px;
    text-align: center;
  }
}

.form_paragraph:hover {
  transform: translateX(200px);
}
