* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  background-image: url("header-shapes.png");
  background-repeat: no-repeat;
}

header {
  position: fixed;
  background-color: #fff;
  top: 0;
  width: 375px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  margin-top: 58px;
  margin-left: 24px;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-align: center;
  width: 76px;
  height: 20px;
  font-size: 18px;
  line-height: 20px;
}

.fa-bars {
  width: 24px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  top: 8px;
  margin-left: 180px;
  color: #6070ff;
}

section {
  margin: 128px 24px 136px 24px;
}

.section-title {
  color: #172b4d;
  font-family: "Poppins", sans-serif;
  width: 327px;
  height: 150px;
  font-size: 40px;
}
p {
  width: 327px;
  height: 146px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

section p {
  margin-top: 12px;
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

section .main-text {
  color: #7f8cff;
  margin-top: 12px;
}

section ul {
  margin-top: 12px;
  display: flex;
  gap: 25px;
}